<div layout="column" layout-fill style="padding-bottom: 32px;">
  <md-whiteframe class="md-whiteframe-z1">

    <form name="workshopForm">

      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Titre de l'atelier</label>
          <input required ng-model="workshop.title">
        </md-input-container>
      </div>

      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Laboratoire</label>
          <input required ng-model="workshop.laboratory">
        </md-input-container>

        <md-input-container flex>
          <label>Type</label>
          <md-select ng-model="workshop.type">
            <md-option ng-repeat="type in workshop.types" value="{{type}}">{{type}}</md-option>
          </md-select>
        </md-input-container>
      </div>

      <md-input-container flex>
        <label>Adresse</label>
        <input required ng-model="workshop.location">
      </md-input-container>

      <md-input-container flex>
        <label>Thème</label>
        <input required ng-model="workshop.location">
      </md-input-container>

      <md-input-container flex>
        <label>Site web</label>
        <input ng-model="workshop.website">
      </md-input-container>

      <div layout layout-sm="column">
        <md-input-container flex>
          <label>Durée (en minutes)</label>
          <input required ng-model="workshop.duration">
        </md-input-container>
        <md-input-container flex>
          <label>Capacité</label>
          <input required ng-model="workshop.capacity">
        </md-input-container>
      </div>

      <md-input-container flex>
        <label>Description</label>
        <textarea ng-model="workshop.desciption" columns="1"></textarea>
      </md-input-container>

      <!-- <md-input-container flex>
        <label>Disciplines abordées</label>
        <input required ng-model="workshop.topics">
      </md-input-container>

      <md-content class="md-padding" layout="column">
        <h2 class="md-title">Animateur(s) / Conférencier(s) :</h2>
        <md-chips ng-model="workshop.speakers"></md-chips>

        <h2 class="md-title">Partenaire(s) :</h2>
        <md-chips ng-model="workshop.partners"></md-chips>

        <h2 class="md-title">Public visé :</h2>
        <md-chips ng-model="workshop.audience"></md-chips>
      </md-content> -->


    </form>

  </md-whiteframe>
</div>
