<div layout="column" layout-align="center center">
  <div layout="column">
    <div layout="row" layout-align="center center">
      <h1>{{workshop.title}}
        <small> {{workshop.type}}</small>
      </h1>
    </div>

    <div>
      <strong>Laboratoire : </strong>
      {{workshop.laboratory}}
    </div>
    <div>
      <strong>Thème : </strong>
      {{workshop.theme}}
    </div>
    <div>
      <strong>Description : </strong>
      {{workshop.description}}
    </div>
    <div layout="row">
      <div>
        <address>
          <strong>Adresse :</strong>
          <p style="padding-left: 1em; ">{{workshop.location}}</p>
        </address>
      </div>
      <div>
        <a href="{{workshop.website}}">Accéder au site Web</a>
      </div>
    </div>

    <h3>Informations</h3>
    <p>
      <strong>Durée : </strong> {{workshop.duration}} minutes
      <br/>
      <strong>Capacité : </strong> {{workshop.capacity}} personnes
      <br/>
    </p>

    <h4>Résumé :</h4>
    <p style="padding-left: 1em;">{{workshop.abstract}}</p>

    <h4>Disciplines abordées :</h4>
    <p style="padding-left: 1em;">{{workshop.topics}}</p>

    <h4>Animateur(s) / Conférencier(s) :</h4>
    <div ng-repeat="speaker in workshop.speakers" style="padding-left: 1em;"><b>{{speaker}}</b>
      <br/>
    </div>

    <h4>Partenaire(s) :</h4>
    <div ng-repeat="partner in workshop.partners" style="padding-left: 1em;"><b>{{partner}}</b>
      <br/>
    </div>

    <legend>Public visé</legend>
    <div ng-repeat="audience in workshop.speakers" style="padding-left: 1em;"><b>{{speaker}}</b>
      <br/>
    </div>

    <br/>

    <h2>Plages horaires</h2>

    <hr/>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="timeslot in workshop.timeslots">
        <div class="md-list-item-text">
          <p>{{timeslot}}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </div>
</div>
