<div layout="column" layout-fill style="padding-bottom: 32px;">
  <md-whiteframe class="md-whiteframe-z1">

    <div layout="row" layout-align="center center">
      <h2 id="title">{{workshop.title}}</h2>
    </div>

    <div>
      <strong>Type : </strong>
      <span id="type">{{workshop.type}}</span>
    </div>

    <div>
      <strong>Laboratoire : </strong>
      <span id="laboratory">{{workshop.laboratory}}</span>
    </div>

    <div>
      <strong>Thème : </strong>
      <span id="theme">{{workshop.theme}}</span>
    </div>

    <div>
      <strong>Adresse :</strong>
      <address id="location">{{workshop.location}}</address>
    </div>

    <div>
      <a href="{{workshop.website}}" id="website">Accéder au site Web</a>
    </div>

    <div>
      <strong>Durée : </strong>
      <span id="duration">{{workshop.duration}}</span> minutes
    </div>

    <div>
      <strong>Capacité : </strong>
      <span id="capacity">{{workshop.capacity}}</span> personnes
    </div>

    <div>
      <strong>Description :</strong>
      <p style="padding-left: 1em;" id="description">{{workshop.description}}</p>
    </div>


    <div>
      <strong>Disciplines abordées :</strong>
      <p style="padding-left: 1em;" id="topics">{{workshop.topics}}</p>
    </div>

    <div>
      <strong>Animateur(s) / Conférencier(s) :</strong>
      <ul id="speakers">
        <li ng-repeat="speaker in workshop.speakers">{{speaker}}</li>
      </ul>
    </div>

    <div>
      <strong>Partenaire(s) :</strong>
      <ul id="partners">
        <li ng-repeat="partner in workshop.partners">{{partner}}</li>
      </ul>
    </div>

    <div>
      <strong>Public visé</strong>
      <ul id="audience">
        <li ng-repeat="audience in workshop.audience">{{audience}}</li>
      </ul>
    </div>

    <br/>

    <h3>Plages horaires</h3>

    <hr/>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="timeslot in timeslots">
        <div class="md-list-item-text">
          <p>{{timeslot}}</p>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-whiteframe>
</div>
